<ion-view view-title="Trasporti disponibili" class="pub-rqgt-search-list"
          ng-controller="RqgtSearchListCtrl as vm">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <!--<div class="title-and-filter double-padding-x ">
            <h4 class="content title-announcements">
                Recenti annunci di camion disponibili:<span ng-if="!vm.heartBooks || (vm.heartBooks && vm.heartBooks.length==0)">&nbsp;(Loading...)</span>
            </h4>
            <a ng-click="vm.openDatePicker()" class="tab-item">
                <i class="icon ion-funnel"></i> Filtra
            </a>
        </div>-->
        <!--<div class="list animate-blinds">
            <a ng-repeat="hBook in vm.heartBooks"
               ng-click="vm.goToBookDetails(hBook)" class="item item-avatar item-icon-right">
                <img ng-src="{{hBook.imgSrc}}">
                <h2 ng-bind-html="hBook.title"></h2>
                <p ng-bind-html="hBook.shortDescription"></p>
                <img ng-if="hBook.isNewAdded == true" class="new-book-added" ng-src="img/new-book.jpeg">
            </a>
        </div>-->

        <div class="item card-item card-rqgt">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="av-and-desc-container">
                    <div class="av-container">
                        <div class="av-img-container">
                            <div class="desc-container-v-flex">
                                <div class="desc-adr">
                                    Img here 1
                                </div>
                                <div class="desc-adr">
                                    Img here 2
                                </div>
                            </div>
                            <!--<div class="desc-adr">
                                Img here
                            </div>-->
                        </div>
                    </div>
                    <div class="desc-container">
                        <div class="desc-container-v-flex">
                            <div class="desc-adr">
                                <strong>Da: </strong> Via Rossi 3, Milano 21000
                            </div>
                            <div class="desc-adr">
                                <strong>A: </strong> Via cardine 12, Ravenna 45170
                            </div>
                            <div class="desc-adr">
                                <div class="pull-left">
                                    <i class="icon ion-clock"></i> prima possibile
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item card-item card-rqgt">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <div class="av-and-desc-container">
                        <div class="av-container">
                            <div class="av-img-container">
                                <div class="desc-adr">
                                    <strong>Da: </strong> Via Rossi 3, Milano 21000
                                </div>
                                <!--<span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>-->
                            </div>
                        </div>
                        <div class="desc-container">
                            <div class="desc-adr">
                                <strong>Da: </strong> Via Rossi 3, Milano 21000
                            </div>
                            <div class="desc-adr">
                                <div class="pull-left">
                                    <i class="icon ion-clock"></i> prima possibile
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/tyrion.jpg');"></span>
                    <strong>Tyrion Lannister</strong> says "Perhaps that is the secret. It is not what we do, so much as why we do it."
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive"></i> 4
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 12 mins ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/sansa.jpg');"></span>
                    <strong>Sansa Stark</strong> added a gallery <strong>Pretending to be Anna from Frozen</strong> ...
                    <a class="image">
                        <img src="img/sansa-snowcastle.png">
                    </a>
                    <a class="image">
                        <img src="img/sansa-snowcastle2.jpg">
                    </a>
                    <a class="image">
                        <img src="img/sansa-snowcastle3.jpg">
                    </a>
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive"></i> 4
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 3 hrs ago
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
<div class="pub-rqgt-search-list footer">
    <!--<div class="item item-button-right">
        <div>
            Non trovi il trasporto?
        </div>
        <button class="button button-balanced ink">
            Pubblica un annuncio
        </button>
    </div>-->
    <div class="title-and-filter double-padding-x v-flex">
        <div>
            <h4 class="content title-announcements">
                Non trovi il trasporto?
            </h4>
        </div>
        <div>
            <div class="btn-announcement-container">
                <button class="button button-small button-energized ink">
                    Pubblica l'annuncio
                </button>
            </div>
        </div>
    </div>
</div>