<ion-view view-title="Trasporti disponibili" class="pub-rqgt-search-list"
          ng-controller="RqgtSearchListCtrl as vm">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <!--<div class="title-and-filter double-padding-x ">
            <h4 class="content title-announcements">
                Recenti annunci di camion disponibili:<span ng-if="!vm.heartBooks || (vm.heartBooks && vm.heartBooks.length==0)">&nbsp;(Loading...)</span>
            </h4>
            <a ng-click="vm.openDatePicker()" class="tab-item">
                <i class="icon ion-funnel"></i> Filtra
            </a>
        </div>-->
        <div class="list animate-blinds">
            <!--<div class="list">-->
            <a ng-repeat="hBook in vm.heartBooks"
               ng-click="vm.goToBookDetails(hBook)" class="item item-avatar item-icon-right">
                <img ng-src="{{hBook.imgSrc}}">
                <h2 ng-bind-html="hBook.title"></h2>
                <p ng-bind-html="hBook.shortDescription"></p>
                <img ng-if="hBook.isNewAdded == true" class="new-book-added" ng-src="img/new-book.jpeg">
            </a>
        </div>
    </ion-content>
</ion-view>
<div class="pub-rqgt-search-list footer">
    <!--<div class="item item-button-right">
        <div>
            Non trovi il trasporto?
        </div>
        <button class="button button-balanced ink">
            Pubblica un annuncio
        </button>
    </div>-->
    <div class="title-and-filter double-padding-x v-flex">
        <div>
            <h4 class="content title-announcements">
                Non trovi il trasporto?
            </h4>
        </div>
        <div>
            <div class="btn-announcement-container">
                <button class="button button-small button-energized ink">
                    Pubblica l'annuncio
                </button>
            </div>
        </div>
    </div>
</div>