<ion-view view-title="Chiedi reset password" ng-controller="ResetPswdCtrl as vm" class="log-sign-view">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="log-sign-page-content">

        <div class="list rqgt-publish-content">
            <label class="item item-input item-floating-label">
                <span class="input-label">Mail</span>
                <input type="text" placeholder="Inserisci mail" ng-model="vm.userInfo.email">
            </label>

            <div class="log-sign-btn-container">
                <button class="button button-block button-positive ink register-btn"
                        ng-click="vm.resetPswd()">
                    Reset Password
                </button>
            </div>
        </div>
    </ion-content>

</ion-view>

