<ion-view view-title="Richiesta transporto" ng-controller="RqgtDetailsShowCtrl as vm">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <h1>Dettaglio rqgt here</h1>
    </ion-content>
    <div class="pub-rqgt-search-list footer">
        <!--<div class="item item-button-right">
            <div>
                Non trovi il trasporto?
            </div>
            <button class="button button-balanced ink">
                Pubblica un annuncio
            </button>
        </div>-->
        <div class="title-and-filter double-padding-x v-flex">
            <div>
                <h4 class="content title-announcements">
                    Contatti
                </h4>
            </div>
            <div>
                <div class="btn-announcement-container">
                    <button id="btn-publish-rqgt" class="button button-small button-energized ink">
                        Contatti qui
                    </button>
                </div>
            </div>
        </div>
    </div>
</ion-view>
