
/* ACTION SHEET
======================================================================================================*/

.action-sheet-group.action-sheet-options {
    background-color: rgb(223, 226, 241) !important;
}

.action-sheet .button {
    min-height: 30px;
    line-height: 26px;
    background-color: #104A93;
    color: #fff !important;
    margin: 25px auto 25px auto !important;
    width: 80% !important;
    text-align: center !important;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    margin: 0;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-size: inherit;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1),transform .4s cubic-bezier(.25,.8,.25,1);
}

.button.button-energized {
    border-color: #e6b400;
    background-color: #ffc900;
    color: #fff;
}

.action-sheet .button:first-child {
    border-color: #e6b400 !important;
    background-color: #ffc900 !important;
    color: #104A93 !important;
    /*font-weight: bold;*/
}

.action-sheet .button:nth-child(2) {
    border-color: #0d386f !important;
    background-color: #104A93 !important;
    color: #ffc900 !important;
    /*font-weight: bold;*/
}

/* HEADER BUTTON OVERLAY
======================================================================================================*/
div.header-overlay-btn-ctn {
    color: #104A93;
    position: fixed !important;
    z-index: 1000;
    right: 0px;
    top: 0px;
    /*height: 83px;
    width: 100%;*/
    text-align: center;
    border-top: 1px solid #104A93;
    padding-top: 3px;
    padding-right: 10px;
}

div.header-overlay-btn-ctn .header-pub-btn {
    padding-left: 8px;
    padding-right: 8px;
    color: #104A93;
}


/* MENU
======================================================================================================*/
.filter-container {
    display: flex;
    flex-direction: column;
}


/* FIRST CHOICE
======================================================================================================*/


ion-view.no-header {
    z-index: 50000 !important;
}

    ion-view.no-header ion-content {
        top: 0 !important;
    }

.first-choice h1 {
    text-align: center;
    text-shadow: none;
    color: #104A93;
    font-size: 36px;
}

div.first-choice-separator {
    padding-left: 30px;
    padding-right: 30px;
}

    div.first-choice-separator hr {
        color: #104A93;
        border: 2px solid;
        border-style: dashed;
    }

/* RGQT SEARCH CAMION OR PUBLISH REQUEST
======================================================================================================*/

.pub-rqgt-search-list ion-content {
    bottom: 83px;
}

.pub-rqgt-search-list.footer {
    background-color: rgb(223, 226, 241);
    color: #104A93;
    position: fixed !important;
    z-index: 1000;
    left: 0px;
    bottom: 0px;
    height: 83px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #104A93;
}

.footer .title-and-filter {
    padding: 0;
}

.pub-rqgt-search-list.footer .title-announcements {
    margin: 7px auto;
    color: #104A93;
}

.pub-rqgt-search-list.footer .btn-announcement-container button {
    font-weight: bold;
    color: #104A93;
}

/* TRANSPORT SEARCH RGQT OR PUBLISH AVAILABILITY
======================================================================================================*/

.button.btn-small-padding {
    padding-left: 16px;
    padding-right: 16px;
}

/* RGQT CARD
======================================================================================================*/

.item-card-container {
    padding: 6px 6px 6px 3px;
    color: #444;
    font-size: 13px;
}

.av-and-desc-container {
    display: flex;
    flex-direction: row;
}

.av-container {
    width: 60px;
}

.item.card-item.card-rqgt {
    padding: 5px !important;
}

.v-sep {
    border-left: 1px solid #999;
    margin-top: 4px;
    margin-bottom: 4px;
}

.card-rqgt .desc-img {
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
    margin: 6px auto 4px auto;
}

    .card-rqgt .desc-img img {
        border-radius: 50%;
    }

.desc-vol {
    text-align: center;
}


.desc-container-v-flex {
    display: flex;
    flex-direction: column;
}

.pl8 {
    padding-left: 8px;
}

.desc-adr {
    display: flex;
    flex-direction: row;
}

.desc-adr-label {
    width: 24px;
    font-weight: bold;
}

/* PAX
======================================================================================================*/

.hero > .content > .avatar {
    border: solid 3px rgba(255,255,255,.8);
}

.hero .content.pax-bkg-img {
    top: 15px;
}

.assertive-900-bg, .assertive-900-bg.activated, .assertive-900-bg:active, .assertive-900-bg:hover, .assertive-900-border, .assertive-900-border.activated, .assertive-900-border:active, .assertive-900-border:hover, .bar .button-assertive-900, .bar .button-assertive-900.activated, .bar .button-assertive-900:active, .bar .button-assertive-900:hover, .bar-assertive-900, .bar-assertive-900.activated, .bar-assertive-900:active, .bar-assertive-900:hover, .button-assertive-900, .button-assertive-900.activated, .button-assertive-900:active, .button-assertive-900:hover, .button-bar-assertive-900, .button-bar-assertive-900.activated, .button-bar-assertive-900:active, .button-bar-assertive-900:hover, .header-assertive-900, .header-assertive-900.activated, .header-assertive-900:active, .header-assertive-900:hover {
    background-color: #104A93;
    /*color: #232578;*/
}

.hero.h222 {
    height: 222px;
}

.content.book-det-img-content {
    top: 26px;
    background-color: #ffffff;
    display: flex; /* or inline-flex */
    justify-content: space-around;
}

.book-det-img-content .img-item {
    padding-left: 20px;
}

.book-det-img-content p {
    margin-bottom: 4px;
    text-align: left;
    color: #000;
    font-size: 13px;
}

.book-det-img-content img.book-det-img {
    max-height: 170px;
}

p.content-author {
    font-style: italic;
    text-align: right;
}

div.book-details-description {
    margin-top: 8px;
}

div.add-to-shop {
    text-align: center;
}

    div.add-to-shop p {
        font-size: 13px;
    }

p.mb-10 {
    margin-bottom: 10px;
}

p.mb-20 {
    margin-bottom: 20px;
}

/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Pubblica la richiesta
==================================*/

.tabs-dark > .tabs, .tabs.tabs-dark {
    background-color: #DFE2F1;
    color: #104A93;
    border-top: #104A93 solid 1px;
    border-bottom: #104A93 solid 1px;
}

.tab-item {
    opacity: 1;
}

.item.search-bar > button.search-btn {
    height: 22px;
    padding: 0px 14px 3px 14px;
    margin-top: 2px;
    min-height: 31px;
    right: 0px;
    border-radius: 3px;
}

.button.button-positive.button.search-btn {
    background-color: #104A93;
    border-color: #104A93;
}

.item.search-bar .item-input-wrapper {
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 3px;
    border-radius: 3px;
}

    .item.search-bar .item-input-wrapper input {
        width: 100%;
    }

.hero.pax-bkg-img-content {
    height: 100%;
}

.content.search-bar-content {
    top: 28%;
}

.search-bar-content .item-input-inset {
    padding: 4px 20px;
}

.pub-rqgt-page .list .item {
    min-height: 44px;
}

div.proceed-container {
    margin-top: 10px;
    margin-bottom: 20px;
}

div.proceed {
    /*height: 32px;*/
    display: flex;
    justify-content: center;
}

    div.proceed .button {
        width: 190px;
    }

.title-and-filter {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

    .title-and-filter .title-announcements {
        font-size: 16px;
        max-width: 250px;
    }

    .title-and-filter a .icon {
        font-size: 26px;
    }

    .title-and-filter.v-flex {
        flex-direction: column;
    }



/* Pubblica la richiesta dettaglio
==================================*/
div.rqgt-publish-content {
    padding: 20px;
}

div.item-description {
    padding: 8px;
}


    div.item-description textarea {
        width: 100%;
        height: 110px;
        border: 1px solid #ccc;
        border-radius: 3px;
        resize: none;
    }

label.label-details-item + textarea {
    margin-top: 5px;
}

div.pub-btn {
    margin-bottom: 15px;
}



/* Search book result page
==================================*/
.search-bar-content.search-result-page {
    padding-top: 12px;
}

    .search-bar-content.search-result-page .item-input-inset {
        padding-bottom: 8px;
        border: none;
    }

.list.search-result-list {
    padding-bottom: 20px;
}

/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/crown.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}



/* Menu */

.menu .bar.bar-header.expanded {
    /*background-image: url('../img/material-graphite.jpg');*/
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

.menu.menu-left * {
    font-weight: bold;
}

.item-radio input:checked ~ .item-content {
    background: transparent;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

    .menu-open .ion-navicon:before {
        content: "\f2ca";
    }

/*.side-menu .list .item,
.side-menu ion-header-bar {
    text-align: right;
}*/

/*  ----------------------------------   PROFILE    -----------------------------------  */

h4.content.padding {
    margin-top: 4px;
    margin-bottom: 1px;
    padding-top: 14px !important;
    padding-bottom: 0px !important;
}

.card > .item-avatar, .item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
    padding-left: 76px;
}

.item-icon-right {
    padding-right: 15px;
}

div.list a {
    padding-top: 11px;
    padding-bottom: 8px;
}

    div.list a:first-child {
        margin-top: 10px;
    }

div.list ion-item a {
    margin-top: 5px;
}

.item-avatar .item-content .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-image, .item-avatar-left .item-content .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-image, .item-avatar-left > img:first-child, .item-avatar > img:first-child, div.list a img {
    position: absolute;
    top: 7px;
}

    div.list a img.new-book-added {
        height: 30px;
        right: 12px;
        top: 10px;
        /*transform: rotate(-20deg);*/
    }
/*  ----------------------------------   AGENDA    -----------------------------------  */

.agenda-container .card .image {
    text-align: center;
}

.agenda-container .card img {
    /*max-width: 80%;*/
    margin-left: auto;
    margin-right: auto;
}

.agenda-container .card .event-date-info {
    font-size: 0.9em;
    font-style: italic;
}


/*  ----------------------------------   ABOUT PAX    -----------------------------------  */


/*.about-pax-content .hero {
    height: 220px;
}*/

.info-openings-content {
    text-align: center;
}

.info-openings h5 {
    color: #555;
}

.about-pax-content .info-openings-content h4 {
    margin-top: 0;
}

/*  ----------------------------------   EVENT DETAILS    -----------------------------------  */

.event-descr-container {
    padding: 20px 15px;
}

    .event-descr-container p {
        font-size: 16px;
    }
